<h1 class="Rlogo">
    <img id="Rlogo" src="/logomain.png" alt="Logo">
</h1>
<h2 id="title">Registration</h2>
<br>
<div class="form">
<form>
    <div class="form-floating mb-3">
        <input class="form-control-sm" type="text" id="floatingInput" placeholder="Grimlock55">
        <label for="floatingInput">Username</label>
    </div>

    <div class="form-floating">
        <input class="form-control-sm" type="password" id="floatingPass" placeholder="Password">
        <label for="floatingPass">Password</label>
    </div>
</form>
</div>