.title{
    text-align: center;
    margin-bottom: 1rem;
    color: white;
}

#altTitle{
    color: #A0B6F7;
}

.dividerline {
    border-width: 5px;
    color: black;
}

#gallery {
    text-align: center;
}

.content{
    display: flex;
    gap: 2rem;
    color: white;
}

.leftpanel{
    flex: 0 0 300px;
    .boxart {
        max-width: 100%;
        display: block;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
}

.rategame {
    text-align: center;
    margin-top: 5px;
}

.release{
    font-weight: bold;
    margin-bottom: 1rem;
    color: white;
}

.studios{
    margin-bottom: 1rem;
    color: white;
}

.ageratings{
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .icon{
        width: 40px;
        height: auto;
    }
}

.rightpanel{
    flex: 1;
    .description{
        margin-bottom: 1.5rem;
    }

    .ratingsection{
        margin-bottom: 2rem;

        button{
            margin-right: 1rem;
        }
    }

    .gallery{
        .images{
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;

            .item{
                width: 200px;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}
