<div *ngIf="gameData" class="title">
    <h1>{{gameData.title}}</h1>
    <h2 id="altTitle" *ngIf="gameData.altTitle">{{gameData.altTitle}}</h2>
</div>
<hr class="dividerline">

<div class="firstsection">
    <div *ngIf="gameData" class="leftpanel">
        <img *ngIf="gameData" [src]="gameData.boxart" alt="{{gameData.title}}" class="boxart"/>
        <p class="release">
            Release: {{gameData.release}}
        </p>

        <div class="studios">
            <span *ngFor="let develop of gameData.developers; let last = last">
               <strong>Developers:</strong> {{develop.name}}{{last ? '' : ', '}}
            </span>
            <br>
            <span *ngFor="let publishers of gameData.publishers; let last = last">
               <strong>Publishers:</strong> {{publishers.name}}{{last ? '' : ', '}}
            </span>
        </div>

        <div class="ageratings">
            <div *ngFor="let agerating of gameData.agerating">
                <img class="icon" [src]="agerating.url" alt="{{agerating.institution}} {{agerating.rating}}"/>
            </div>
        </div>
    </div>

    <div *ngIf="gameData" class="rightpanel">
        <p class="description">{{gameData.description}}</p>
        <br>
        <div class="ratingsection">
            <div class="progress">
                <div class="progress-bar bg-danger" [style.width]="calculateProgress().negative">{{calculateProgress().negative}}</div>
                <div class="progress-bar bg-success" [style.width]="calculateProgress().positive">{{calculateProgress().positive}}</div>
            </div>
        </div>
            <br>
        <div class="rategame">
        <button class="optionbuttons" id="ratethegame" (click)="RateGame()">Rate the game!</button>
        </div>

        <button class="optionbuttons" id="addtofavourites" (click)="AddtoFavourites()">Add to favourites! <img id="favouritehearth" src="./hearth.png" alt="hearth"></button>
        <br>
        <div class="gallery">
            <h3 id="gallery">Gallery</h3>
            <hr class="dividerline">
            <div class="images">
                <div class="item" *ngFor="let img of gameData.gallery">
                    <img [src]="img.url" alt="Gallery image" />
                </div>
            </div>
        </div>
    </div>
</div>
    <hr class="dividerline">

    <div class="secondsection">
    <div class="genres">
        <h3>Genres</h3>
        <div class="genreslist">
            <span *ngFor="let genre of gameData.genres" class="genretag">
                {{genre.tag}}
            </span>
        </div>
    </div>

    <div class="controllersupport">
        <h3>Controller Support(PC)</h3>
        <div class="controllers">
            <ng-container [ngSwitch]="gameData.controllerSupport">
                <div *ngSwitchCase="3" class="controllericons">
                    <img src="./XBox.png" alt="Xbox">
                    <img src="./PSdualsense.png" alt="dualsense">
                    <img src="./PSdualshock.png" alt="dualshock">
                </div>
                <div *ngSwitchCase="1" class="controllericons">
                    <img src="./XBox.png" alt="Xbox">
                </div>
                <div *ngSwitchCase="2" class="controllericons">
                    <img src="./XBox.png" alt="Xbox">
                    <img src="./PSdualsensehalf.png" alt="dualsensehalf">
                    <img src="./PSdualshockhalf.png" alt="dualshockhalf">
                </div>
                <div *ngSwitchDefault>
                    <p>No controller support</p>
                </div>
            </ng-container>
        </div>
    </div>
</div>

