<div *ngIf="gameData" class="title">
    <h1>{{gameData.title}}</h1>
    <h2 id="altTitle" *ngIf="gameData.altTitle">{{gameData.altTitle}}</h2>
</div>
<hr class="dividerline">

<div class="firstsection">
    <div *ngIf="gameData" class="leftpanel">
        <img *ngIf="gameData" [src]="gameData.boxart" alt="{{gameData.title}}" class="boxart"/>
        <p class="release">
            Release: {{gameData.release}}
        </p>

        <div class="studios">
            <span *ngIf="gameData.developers?.length">
               <strong>Developers: {{developerslist}}</strong>
            </span>
            <br>
            <span *ngIf="gameData.publishers?.length">
               <strong>Publishers: {{publisherslist}}</strong>
            </span>
        </div>

        <div class="ageratings">
            <div *ngFor="let agerating of gameData.agerating">
                <img class="icon" [src]="agerating.url" alt="{{agerating.institution}} {{agerating.rating}}"/>
            </div>
        </div>
    </div>

    <div *ngIf="gameData" class="rightpanel">
        <p class="description">{{gameData.description}}</p>
        <br>
        <div class="ratingsection">
            <div class="progress">
                <div class="progress-bar bg-danger" [style.width]="calculateProgress().negative">{{calculateProgress().negative}}</div>
                <div class="progress-bar bg-success" [style.width]="calculateProgress().positive">{{calculateProgress().positive}}</div>
            </div>
        </div>
            <br>
        <div class="rategame">
        <button class="optionbuttons" id="ratethegame" (click)="RateGame()">Rate the game!</button>
        </div>

        <button class="optionbuttons" id="addtofavourites" (click)="AddtoFavourites()">Add to favourites! <img id="favouritehearth" src="./hearth.png" alt="hearth"></button>
        <br>
        <div class="gallery">
            <h3 id="gallery">Gallery</h3>
            <hr class="dividerline">
            <div class="images">
                <div class="item" *ngFor="let img of gameData.gallery">
                    <img [src]="img.url" alt="Gallery image" />
                </div>
            </div>
        </div>
    </div>
</div>
    <hr class="dividerline">

    <div class="secondsection">
    <div class="genres">
        <h3>Genres</h3>
        <br>
        <div class="genreslist">
            <span *ngFor="let genre of gameData.genres" class="genretag">
                {{genre.tag}}
            </span>
        </div>
    </div>

    <div class="controllersupport">
        <h3>Controller Support(PC)</h3>
        <br>
        <div class="controllers">
            <ng-container [ngSwitch]="gameData.controllerSupport">
                <div *ngSwitchCase="3" class="controllericons">
                    <img src="./XBox.png" alt="Xbox"><p class="controllertext">Xbox controller</p>
                    <img src="./PSdualsense.png" alt="dualsense"><p class="controllertext">Playstation Dualsense(USB)</p>
                    <img src="./PSdualshock.png" alt="dualshock"><p class="controllertext">Playstation Dualshock(USB)</p>
                </div>
                <div *ngSwitchCase="1" class="controllericons">
                    <img src="./XBox.png" alt="Xbox"><p class="controllertext">Xbox controller</p>
                </div>
                <div *ngSwitchCase="2" class="controllericons">
                    <img src="./XBox.png" alt="Xbox"><p class="controllertext">Xbox controller</p>
                    <img src="./PSdualsensehalf.png" alt="dualsensehalf"><p class="controllertext">Partial playstation dualsense controller support</p>
                    <img src="./PSdualshockhalf.png" alt="dualshockhalf"><p class="controllertext">Partial playstation dualshock controller support</p>
                </div>
                <div *ngSwitchDefault>
                    <p>No controller support or console exclusive.</p>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<hr class="dividerline">

<div class="thirdsection" *ngIf="gameData?.awards">
    <div class="nominations" *ngIf="gameData.awards.nominations?.length">
        <h3>Nominations</h3>
        <br>
        <div class="item" *ngFor="let nomination of gameData.awards.nominations">
            <img src="./awardnominated.png" alt="nominated" class="icon">
            <span class="year">{{nomination['Games.Gamesaward.year']}}</span>
            <span class="organizer">{{nomination.organizer}}</span>
            <span class="category">{{nomination.name}}</span>
        </div>
    </div>

    <div class="wins" *ngIf="gameData.awards.wins?.length">
        <h3>Wins</h3>
        <br>
        <div class="item" *ngFor="let win of gameData.awards.wins">
            <img src="./awardwinner.png" alt="winner" class="icon">
            <span class="year">{{win['Games.Gamesaward.year']}}</span>
            <span class="organizer">{{win.organizer}}</span>
            <span class="category">{{win.name}}</span>
        </div>
    </div>
</div>

<hr class="dividerline">

<div class="fourthsection">
    <div class="languages" *ngIf="voicesLanguages.length || subtitlesLanguages.length">
        <h3>Supported Languages</h3>
        <div class="Vlanguages" *ngIf="voicesLanguages.length">
            <h4>Voice</h4>
            <ul>
                <li *ngFor="let lang of displayedVlanguages">
                    <img [src]="languageFlagMap[lang.toLowerCase()]" [alt]="lang + ' flag'" class="flagicon">
                    {{lang | titlecase}}
                </li>
            </ul>
            <div class="3dot" *ngIf="!showFullFourthSection && voicesLanguages.length > visibleVlanguages">
                ...
            </div>
        </div>
        <div class="Slanguages" *ngIf="subtitlesLanguages.length">
            <h4>Subtitles</h4>
            <ul>
                <li *ngFor="let lang of displayedSlanguages">
                    <img [src]="languageFlagMap[lang.toLowerCase()]" [alt]="lang + ' flag'" class="flagicon">
                    {{lang | titlecase}}
                </li>
            </ul>
            <div class="3dot" *ngIf="!showFullFourthSection && subtitlesLanguages.length > visibleSlanguages">
                ...
            </div>
        </div>
    </div>

    <div class="platforms" *ngIf="gameData?.platforms?.length">
        <h3>Platforms</h3>
        <ul>
            <li *ngFor="let p of displayedPlatforms">
                {{p.platform}}
            </li>
        </ul>
        <div class="3dot" *ngIf="!showFullFourthSection && platformsCount > visiblePlatforms">
            ...
        </div>
    </div>

    <div class="cross" *ngIf="gameData">
      <h3>Cross</h3>
      <ng-container [ngSwitch]="gameData.crossplatform">
        <p *ngSwitchCase="0">No cross-platform support.</p>

        <p *ngSwitchCase="1">Cross-platform is avaliable.<strong>(Between consoles only)</strong></p>

        <p *ngSwitchCase="2">Full cross-platform avaliable.</p>

        <p *ngSwitchDefault>Singleplayer only.</p>
      </ng-container>
      <p *ngIf="gameData.crossplatform !== null && gameData.crossPlatformException">
        {{gameData.crossPlatformException}}
      </p>
    </div>
</div>

<button id="showmore1" class="optionbuttons" (click)="toggleFourthSection()">
    {{showFullFourthSection ? 'Show Less' : 'Show More'}}
</button>

<hr class="dividerline">

<div class="fifthsection" *ngIf="gameData">
    <div class="crew" *ngIf="gameData.creators?.length">
        <h3>Crew</h3>
        <ul>
            <li *ngFor="let c of gameData.creators">
                {{c.firstname}} {{c.lastname}}
            </li>
        </ul>
    </div>
</div>

