.custombar {
    background-color: black !important;
    color: #A0B6F7 !important;
    font-size: 16px !important;
    width: fit-content;
    height: fit-content;
    top: 50% !important;
    left: 50% !important;
    position: fixed !important;
    transform: translate(-50%, -50%) !important;
    margin: 0 !important;
}

.custombar:hover{
    background-color: #A0B6F7;
    color: white;
}
