<div class="title">
    Data Protection
</div>
<hr class="divider">
<div class="description">
    Our website follows the European Unio's GDPR standard rules. It doesn't matter what format the data takes, online on a computer or on paper in a structured file, whenever information directly or identifying you as an individual is stored or processed, your data protection rights have to be respected.
</div>
<hr class="divider">
<div class="datause">
    The website stores some of your datas within the localstorage, including your username, password and your unique token.
</div>