<div class="RegContent">
<h1 class="Rlogo">
    <img id="Rlogo" src="/logomain.png" alt="Logo">
</h1>
<h2 id="title">Registration</h2>
<br>
<div class="form">
<form action="https://localhost:3000/registration" method="post">
    <div class="mb-3">
        <label for="Input1" class="form-label">Username</label><br>
        <input class="form-control-sm" form="Input1" type="text" placeholder="Grimlock55" required>
    </div>

    <div class="mb-3">
        <label for="Input2" class="form-label">Password</label><br>
        <input class="form-control-sm" form="Input2" type="password" placeholder="Password" required>
    </div>

    <div class="mb-3">
        <label for="Input3" class="form-label">Password again</label><br>
        <input class="form-control-sm" form="Input3" type="password" placeholder="Password again" required>
    </div>

    <div class="mb-3">
        <label for="Input4" class="form-label">E-mail</label><br>
        <input class="form-control-sm" form="Input4" type="email" placeholder="grimlock341@gmail.com" required>
    </div>

    <br>

    <div class="d-grid gap-2 d-md-block">
            <button onclick="onSubmit()" class="Regbutton btn btn-lg" type="submit">Regist</button>
    </div>
</form>
</div>

<div *ngIf="successmess" class="success"></div>

<div *ngIf="failuremess" class="failure"></div>

</div>
