<div class="RegContent">
<h1 class="Rlogo">
    <img id="Rlogo" src="/logomain.png" alt="Logo">
</h1>
<h2 id="title">Registration</h2>
<br>
<div class="form">
<form [formGroup]="registForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label><br>
        <input id="username" class="form-control-sm" formControlName="username" type="text" placeholder="Grimlock55">
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label><br>
        <input id="password" class="form-control-sm" formControlName="password" type="password" placeholder="Password">
    </div>

    <div class="mb-3">
        <label for="passwordAgain" class="form-label">Password again</label><br>
        <input id="passwordAgain" class="form-control-sm" formControlName="passwordAgain" type="password" placeholder="Password again">
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label><br>
        <input id="email" class="form-control-sm" formControlName="email" type="email" placeholder="grimlock341@gmail.com">
    </div>

    <br>

    <div class="d-grid gap-2 d-md-block">
            <button class="Regbutton btn btn-lg" type="submit">Regist</button>
    </div>
</form>
</div>

<div *ngIf="successmess" class="success">
    <p class="reportmess">{{successmess}}</p>
</div>

<div *ngIf="failuremess" class="failure">
    <p class="reportmess">{{failuremess}}</p>
</div>

</div>
