<div class="RegContent">
<h1 class="Rlogo">
    <img id="Rlogo" src="/logomain.png" alt="Logo">
</h1>
<h2 id="title">Registration</h2>
<br>
<div class="form">
<form [formGroup]="registForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label><br>
        <input name="username" id="username" class="form-control-sm" form="Input1" formControlName="username" type="text" placeholder="Grimlock55" required>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label><br>
        <input name="password" id="password" class="form-control-sm" form="Input2" formControlName="password" type="password" placeholder="Password" required>
    </div>

    <div class="mb-3">
        <label for="passwordAgain" class="form-label">Password again</label><br>
        <input name="passwordAgain" id="passwordAgain" class="form-control-sm" form="Input3" formControlName="passwordAgain" type="password" placeholder="Password again" required>
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label><br>
        <input name="email" id="email" class="form-control-sm" form="Input4" formControlName="email" type="email" placeholder="grimlock341@gmail.com" required>
    </div>

    <br>

    <div class="d-grid gap-2 d-md-block">
            <button onclick="onSubmit()" class="Regbutton btn btn-lg" type="submit">Regist</button>
    </div>
</form>
</div>

<div *ngIf="successmess" class="success"></div>

<div *ngIf="failuremess" class="failure"></div>

</div>
