<div class="game-container" ngIf="gameData">
        <div class="header">
                <img class="boxart" [src]="getBoxartPath(gameData.boxart)" [alt]="gameData.title + 'Boxart'"/>

                <div class="title">
                        <h1>{{gameData.title}}</h1>
                        <h2 ngIf="gameData.altTitle">{{gameData.altTitle}}</h2>
                        <p class="description">{{gameData.description}}</p>
                        <p class="release">
                            <strong>Release date:</strong>
                            {{gameData.release}}
                        </p>

                        <p>
                            <strong>Developers:</strong>
                            <span *ngFor="let dev of gameData.developers; let i = index">
                                {{dev['Studio.name']}}<span *ngIf="i < gameData.developers.lenght - 1">,</span>
                            </span>
                        </p>
                </div>
        </div>
        <div class="ratings" *ngIf="gameData.agerating?.lenght">
            <h3>Age rating</h3>
            <div class="rate">
                <div *ngFor="let age of gameData.agerating" class="item">
                    <img class="icon" [src]="getRatingIcon(age.institution, age.rating)" [alt]="age.institution + ' ' +age.rating"/>
                    <span>{{age.institution}} {{age.rating}}</span>
                </div>
            </div>
        </div>

        <div class="gallery">
            <h3>Gallery</h3>
            <div class="gallery-container">
                <img *ngFor="let img of gameData.gallery" [src]="getGalleryPath(img)" [alt]="gameData.title + ' screenshot'"/>
            </div>
        </div>

        <div class="genres" *ngIf="gameData.genres?.lenght">
            <h3>Genres</h3>
            <ul>
                <li *ngFor="let genre of gameData.genres">
                        {{genre['Tag.tag']}}
                </li>
            </ul>
        </div>

        <div class="controller" *ngIf="gameData.controllerSupport !== null && gameData.controllerSupport !== undefined">
                <h3>Controller Support</h3>
                <div class="controllerIcons">
                 <div *ngFor="let ctrl of controllerTypes">
                        <img *ngIf="gameData.controllerSupport[ctrl.type]" class="controller-icon" [src]="ctrl.icon" [alt]="ctrl.alt" />
                    </div>
                </div>
        </div>

        <div class="awards" *ngIf="gameData.awards">
                <h3>Nominations</h3>
                <ul>
                    <li *ngFor="let nominations of gameData.awards.nominations">
                        {{nominations.year}} - {{nominations.Award.organizer}}: {{nominations.Award.name}}
                    </li>
                </ul>

                <h3>Wins</h3>
                <ul>
                    <li *ngFor="let win of gameData.awards.wins">
                        {{win.year}} - {{win.Award.organizer}}: {{win.Award.name}}
                    </li>
                </ul>
        </div>

        <div class="languages" *ngIf="gameData.languages?.lenght">
            <h3>Supported Languages</h3>
            <ul>
                <li *ngFor="let lang of gameData.languages">
                    {{lang['Language.language']}}
                    <span *ngIf="lang.dub === 1">[Voice + Subtitles]</span>
                    <span *ngIf="lang.dub === 0">[Subtitles Only]</span>
                </li>
            </ul>
        </div>

        <div class="platforms" *ngIf="gameData.platforms?.lenght">
            <h3>Platforms</h3>
            <ul>
                <li *ngFor="let p of gameData.platforms">
                    {{p['Platform.platform']}}
                </li>
            </ul>
        </div>

        <div class="creators" *ngIf="gameData.creators?.lenght">
            <h3>Crew</h3>
            <ul>
                <li *ngFor="let creator of gameData.creators">
                    <strong>{{creator.field}}:</strong>
                    {{creator['Creator.firstName']}} {{creator['Creator.lastName']}}
                </li>
            </ul>
        </div>

        <div class="actors" *ngIf="gameData.actors?.lenght">
            <h3>Cast</h3>
            <ul>
            <li *ngFor="let actor of gameData.actors">
                <strong>{{actor.role}}:</strong>
                {{actor['Actor.firstName']}} {{actor['Actor.lastName']}}
            </li>
            </ul>
        </div>

        <div class="pcspec" *ngIf="gameData.pcspec">
            <h3>PC Specs</h3>
            <h4>Minimum Requirements</h4>
            <ul>
                <li><strong>OS:</strong> {{gameData.pcspec.minop}}</li>
                <li><strong>CPU:</strong> {{gameData.pcspec.mincpu}}</li>
                <li><strong>GPU:</strong> {{gameData.pcspec.mingpu}}</li>
                <li><strong>RAM:</strong> {{gameData.pcspec.minram}}</li>
                <li><strong>DirectX:</strong> {{gameData.pcspec.mindirectx}}</li>
            </ul>

            <h4>Recommended Requirements</h4>
            <ul>
                <li><strong>OS:</strong> {{gameData.pcspec.op}}</li>
                <li><strong>CPU:</strong> {{gameData.pcspec.cpu}}</li>
                <li><strong>GPU:</strong> {{gameData.pcspec.gpu}}</li>
                <li><strong>RAM:</strong> {{gameData.pcspec.ram}}</li>
                <li><strong>DirectX:</strong> {{gameData.pcspec.directx}}</li>
            </ul>

            <p><em>{{gameData.pcspec.sidenote}}</em></p>
        </div>
</div>
<div *ngIf="!gameData" class="loading">
    <p>Loading game data...</p>
</div>
