<h3 id="Coming">Coming soon...</h3>
<div class="slideshow-container">
    <button class="nav-button prev" (click)="previousSlide()">&#9664;</button>
        <div class="slides">
            <img [src]="upcomingGames[currentSlideIndex]?.promoArt"
            [alt]="'Promo art for game ID' + upcomingGames[currentSlideIndex]?.id"/>
            <p>{{ upcomingGames[currentSlideIndex]?.release }}</p>
        </div>
        <button class="nav-button next" (click)="nextSlide()">&#9654;</button>
</div>
<br>
    <hr class="splitter1">
    <br>
        <p class="titles">New releases</p>
        <hr class="splitter2">
        <div class="list-container">
            <button class="scroll" (click)="scrollLeft(listnewReleasedGames)">&#9664;</button>
            <div class="gamelist" #listnewReleasedGames>
                <div class="gamecard" *ngFor="let game of newReleasedGames">
                    <img [src]="game.boxart" [alt]="'Boxart for ' + game.gameTitle"/>
                    <p>{{game.gameTitle}}</p>
                </div>
            </div>
            <button class="scroll" (click)="scrollRight(listnewReleasedGames)">&#9654;</button>
        </div>
<hr class="splitter1">
<br>
<p class="titles">Shooters</p>
    <hr class="splitter2">
    <div class="list-container">
        <button class="scroll" (click)="scrollLeft(listshooters)">&#9664;</button>
        <div class="gamelist" #listshooters>
            <div class="gamecard" *ngFor="let game of shooters">
                <img [src]="game.boxart" [alt]="'Boxart for ' + game.gameTitle"/>
                <p>{{game.gameTitle}}</p>
            </div>
        </div>
        <button class="scroll" (click)="scrollRight(listshooters)">&#9654;</button>
    </div>
    <hr class="splitter1">
    <br>


<p class="titles">Adventures</p>
    <hr class="splitter2">
    <div class="list-container">
        <button class="scroll" (click)="scrollLeft(listadventures)">&#9664;</button>
        <div class="gamelist" #listadventures>
            <div class="gamecard" *ngFor="let game of adventures">
                <img [src]="game.boxart" [alt]="'Boxart for ' + game.gameTitle"/>
                <p>{{game.gameTitle}}</p>
            </div>
        </div>
        <button class="scroll" (click)="scrollRight(listadventures)">&#9654;</button>
    </div>
    <hr class="splitter1">
    <br>

    <p class="titles">RPG's</p>
    <hr class="splitter2">
    <div class="list-container">
        <button class="scroll" (click)="scrollLeft(listrpgs)">&#9664;</button>
        <div class="gamelist" #listrpgs>
            <div class="gamecard" *ngFor="let game of rpgs">
                <img [src]="game.boxart" [alt]="'Boxart for ' + game.gameTitle"/>
                <p>{{game.gameTitle}}</p>
            </div>
        </div>
        <button class="scroll" (click)="scrollRight(listrpgs)">&#9654;</button>
    </div>
    <hr class="splitter1">
    <br>

    <p class="titles">Racing</p>
    <hr class="splitter2">
    <div class="list-container">
        <button class="scroll" (click)="scrollLeft(listracings)">&#9664;</button>
        <div class="gamelist" #listracings>
            <div class="gamecard" *ngFor="let game of racings">
                <img [src]="game.boxart" [alt]="'Boxart for ' + game.gameTitle"/>
                <p>{{game.gameTitle}}</p>
            </div>
        </div>
        <button class="scroll" (click)="scrollRight(listracings)">&#9654;</button>
    </div>
    <hr class="splitter1">
    <br>

    <p class="titles">Strategies</p>
    <hr class="splitter2">
    <div class="list-container">
        <button class="scroll" (click)="scrollLeft(liststrategies)">&#9664;</button>
        <div class="gamelist" #liststrategies>
            <div class="gamecard" *ngFor="let game of strategies">
                <img [src]="game.boxart" [alt]="'Boxart for ' + game.gameTitle"/>
                <p>{{game.gameTitle}}</p>
            </div>
        </div>
        <button class="scroll" (click)="scrollRight(liststrategies)">&#9654;</button>
    </div>
    <hr class="splitter1">
    <br>
