.favourite-container {
    padding: 16px;
}

.favourite-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    cursor: pointer;
    width: fit-content;
    margin-left: 135px;
}

.gameinfo{
    display: flex;
    align-items: center;
    flex: 1;
    color: white;
}

.boxart {
    width: 200px;
    height: auto;
    margin-right: 16px;
}

.titles
button {margin-left: 8px}

h2{
    color: white;
    font-weight: bold;
    text-align: center;
}

#nofavourites{
    text-align: center;
    color: #A0B6F7;
    font-weight: bold;
    font-size: larger;
}

#divider{
    border-width: 5px;
    color: black;
}