<div class="ratingcontainer">
    <h2>Do you like this game?</h2>
    <div class="options">
        <div class="buttons">
        <button mat-flat-button color="primary" (click)="rate(true)">
            <img src="./like.png" alt="like">
        </button>
        <button mat-flat-button color="warn" (click)="rate(false)">
            <img src="./dislike.png" alt="dislike">
        </button>
        <div class="closesection">
        <button class="closebutton" mat-flat-button color="primary" (click)="dialogRef.close()">
            <p id="close">Close</p>
        </button>
    </div>
        </div>
    </div>
</div>
