/* Általános stilusok amelyek az összes oldalra érvényesek*/
#logomain{
    cursor: pointer;
    width: 15%;
    height: 15%;
}

.container-fluid{
    background-color: #A0B6F7;
}

body{
    background-color: rgb(62, 62, 62);
}

#magnifiersearchglass{
    cursor: pointer;
    width: 29%;
    height: 29%;
}

#globeicon{
    cursor: pointer;
    width: 7%;
    height: 7%;
    display: flex;
}

.search-container{
    display: flex;
    align-items: center;
}

.link{
    text-decoration: none;
    font-weight: bold;
    color: black;
    cursor: pointer;
    display: flex;
}
