<!--Általános dolgok, amik az összes oldalon látszanak-->

<!--HTML basic structure-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="windowicon" type="image/png" href="/logomain.png">           <!--For now, not working properly-->
    <title>Homepage</title>
</head>
<body>
<div class="container-fluid d-flex align-items-center">
    <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand d-flex" href="" routerLinkActive="active">
                <img id="logomain" src="/logomain.png" alt="logo">
            </a>
                <div class="nav-item search-container d-flex align-items-center">
                    <form class="search-form d-flex" role="search">
                     <input class="form-control-sm search-input" type="search" placeholder="Search" aria-label="Search">
                     </form>
                     <a>
                        <img class="align-items-center nav-item ms-2 magnifiersearchglass" src="/magnifying-glass.png" alt="searchIcon">
                    </a>
                    </div>
                
    <div class="nav-item d-flex align-items-center">
        <a><img class="align-items-center d-flex nav-item ms-2" id="globeicon" src="/globe.png" alt="forumIcon">
        </a>
        <a class="link" routerLink="">Forum</a>
        
        <ng-container *ngIf="!(isAuthenticated$ | async); else loggedInTemplate">
        <a routerLink="/login"><img class="align-items-center d-flex nav-item ms-2" id="loginicon" src="/user.png" alt="loginIcon">
        </a>
        <a class="link" routerLink="/login">Login</a>

        <a routerLink="/regist"><img class="align-items-center d-flex nav-item ms-2" id="registicon" src="/registicon.png" alt="registIcon">
        </a>
        <a class="link" routerLink="/regist">Regist</a>
    </ng-container>
    <ng-template #loggedInTemplate>
        <ng-container *ngIf="user$ | async as user">
            <div class="myprofile">
                <a routerLink="/myprofile" class="link">
                    <img class="align-items-center nav-item ms-2 d-flex profile-icon" [src]="user.isadmin ? '/lock.png' : '/user.png'" alt="loginIcon">
                    <span>{{user.username}}</span>
                </a>
                <button class="menu">
                    <ul class="menucontent">
                        <li> <a routerLink="/myprofile">Myprofile</a> </li>
                        <li> <a (click)="logout()">Logout</a> </li>
                    </ul>
                    </button>
            </div>
        </ng-container>
    </ng-template>
    </div>
    <button class="menu" (click)="menutoggle()">
       <i class="fa fa-bars" [ngClass] = "{'rotate-icon': ismenuopen}"></i>
    </button>
    <ul class="menucontent" *ngIf="ismenuopen">
        <!--Menu contents-->
        <li> <img class="menucontenticons" src="./hearth.png" alt="Hearth"> Favourites</li>
        <li> <img class="menucontenticons" src="./user.png" alt="Profile"> My account</li>
        <li> <img class="menucontenticons" src="./globe.png" alt="Globe"> My forum posts</li>
    </ul>
</nav>
</div>
<router-outlet></router-outlet>
<hr id="footerdivider">
<footer class="footer text-black py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-3 text-center d-flex justify-content-center align-items-center gap-4">
                <img class="socialmedia" src="/facebook.png" alt="facebook logo">
                <img class="socialmedia" src="/instagram.png" alt="instagram logo">
                <img class="socialmedia" src="/discord.png" alt="discord logo">
            </div>
            <div class="col-1 d-flex justify-content-center">
                <div class="divider"></div>
            </div>
            <div class="col-4 text-center">
                <p id="copyright">&copy; 2025 Copyright</p>
            </div>
            <div class="col-1 d-flex justify-content-center">
                <div class="divider"></div>
            </div>
            <div class="col-3 text-center">
                <p class="thirdpart">Data Protection</p>
                <p class="thirdpart">User Terms</p>
            </div>
        </div>
    </div>
</footer>
</body>

</html>
