/* Általános stilusok amelyek az összes oldalra érvényesek*/
#logomain{
    cursor: pointer;
    width: 25%;
    height: 25%;
}

.container-fluid{
    background-color: #A0B6F7;
}

body{
    background-color: rgb(62, 62, 62);
}

#magnifiersearchglass{
    cursor: pointer;
    width: 42%;
    height: 42%;
}