<div class="w3-content w3-display-container">
    <img class="slides" src="Expedition-33.jpg">
    <img class="slides" src="doooom.jpg">
    <img class="slides" src="death stranding.jpg">
    <img class="slides" src="maffia.jpg">
    <img class="slides" src="mgsdelta.jpg">
    <div class="w3-center w3-display-bottommiddle">
        <div class="w3-left" onclick="plusDivs(-1)">&#10094;</div>
        <div class="w3-right" onclick="plusDivs(1)">&#10095;</div>
        <span class="w3-badge demo w3-border" onclick="currentDiv(1)"></span>
        <span class="w3-badge demo w3-border" onclick="currentDiv(2)"></span>
        <span class="w3-badge demo w3-border" onclick="currentDiv(3)"></span>
        <span class="w3-badge demo w3-border" onclick="currentDiv(4)"></span>
        <span class="w3-badge demo w3-border" onclick="currentDiv(5)"></span>
    </div>
</div>
