
<div class="LogContent">
    <h1 class="Llogo">
        <img id="Llogo" src="/logomain.png" alt="Logo">
    </h1>
    <h2 id="title">Login</h2>
    <br>
    <div class="form">
    <form (ngSubmit)="onLogin()">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label><br>
            <input id="username" class="form-control-sm" [(ngModel)]="username" name="username" type="text" placeholder="Grimlock55">
        </div>
    
        <div class="mb-3">
            <label for="password" class="form-label">Password</label><br>
            <input id="password" class="form-control-sm" [(ngModel)]="password" name="password" type="password" placeholder="Password">
        </div>
    
        <br>
    
        <div class="d-grid gap-2 d-md-block">
                <button class="Logbutton btn btn-lg" type="submit">Login</button>
        </div>
    </form>
    </div>
    <p id="textblock">Forget your password?</p>

    <br>

    <div *ngIf="errormes" class="errormes">
        <p class="reportmess">{{errormes}}</p>
    </div>
    </div>
