#textblock{
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
    -moz-text-align-last: auto;
}

.LogContent{
    text-align: center;
    padding-top: 5%;
}

#Llogo{
    width: 10%;
    height: 10%;
}

.form-label{
    font-weight: bold;
    color: white;
}

#title{
    font-weight: bold;
    color: white;
}

.form-text{
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.Logbutton{
    background-color: #A0B6F7;
    border-style: double;
    font-weight: bold;
}

input::placeholder{
    color: rgba(0, 0, 0, 0.551);
}

.form-control-sm{
    background-color: #A0B6F7;
}

.error{
    color: #A0B6F7;
    font-weight: bold;
    text-align: center;
    padding-top: 5%;
}