/* Általános stilusok amelyek az összes oldalra érvényesek*/
#logomain{
    cursor: pointer;
    width: 85%;
    height: 85%;
}

.container-fluid{
    background-color: #A0B6F7;
}

body{
    background-color: rgb(62, 62, 62);
}

.magnifiersearchglass{
    cursor: pointer;
    width: 350%;
    height: 350%;
    display: flex;
}

#globeicon{
    cursor: pointer;
    width: 500%;
    height: 500%;
    display: flex;
    padding-left: 170%;
}

#loginicon{
    cursor: pointer;
    width: 500%;
    height: 500%;
    display: flex;
    padding-left: 170%;
}

#registicon{
    cursor: pointer;
    width: 500%;
    height: 500%;
    display: flex;
    padding-left: 200%;
}


.link{
    text-decoration: none;
    font-weight: bold;
    color: black;
    cursor: pointer;
    display: flex;
    padding-left: 20%;
}


.nav-item{
    padding-right: 30%;
    box-sizing: border-box;
    position: relative;
}


.menu{
    font-size: 200%;
    display: flex;
    flex-direction: column;
    gap: 3%;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    width: 15%;
    height: 15%;
}

.menu i{
    transition: transform 0.3s ease;
}

.rotate-icon{
    transform: rotate(90deg);
}

.menu span{
    display: block;
    background-color: #A0B6F7;
    border-radius: 2%;
    width: 14%;
    height: 3%;
}

.menucontent{
    list-style-type: none;
    display: block;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #A0B6F7;
    position: absolute;
    top: 30%;
    right: 5%;
    border-radius: 3%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.menucontent li{
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: larger;
}

.menucontent li:hover{
    background-color: #7999f8;
}

.menu.active{
    display: flex;
}

.divider{
    width: 1px;
    height: 100%;
}

.flex-grow-1{
    flex-grow: 1;
}

.socialmedia{
    display: flex;
    height: 50px;
    width: 50px;
}

.footer{
    background-color: #A0B6F7;
}

#copyright{
    padding-top: 10px;
    font-weight: bold;
    text-decoration: underline;
}

#footerdivider{
    border: none;
    height: 50px;
}

.thirdpart{
    font-weight: bold;
}