<h2 class="title">User of terms</h2>    <!--Cím-->
<hr class="divider">    <!--Elválasztó vonal-->
<div class="first">    <!--Első bevezető szekció-->
    Welcome to the GameKnowledge! This sites provides you the website features and other services. If you visit the GameKnowledge, you will automatically accept the Conditions of Use. Please read them carefully!
</div>
<hr class="divider">    <!--Elválasztó vonal-->
<div class="second">    <!--Második tartalmi szekció-->
    <h3>Privacy</h3>    <!--Alcím-->
    <p>
        We're collect only your E-mail addresses to differentiate the users on the website.
    </p>
    <p>
        The website doesn't contain any violent or sexual contents. Consequently, childrens are allowed to use the website. 
    </p>
    <p>
        We store the users E-mail addresses for an unlimited time, but in case of deleting their user account, the E-mail will be deleted.  
    </p>
</div>
<hr class="divider">    <!--Elválasztó vonal-->
    <div class="third">    <!--Harmadik tartalmi szekció-->
        <h3>Contacts</h3>    <!--Alcím-->
        <p>
            Vencel Vicickó,<br>
            vicicko.vencel.2019&#64;osztalyterem.katolikuskeri.hu<br>
            06202922790
        </p>
        <p>
            Zsolt Földházi,<br>
            foldhazi.zsolt.2019&#64;osztalyterem.katolikuskeri.hu<br>
            06202836395
        </p>
    </div>
    <hr class="divider">    <!--Elválasztó vonal-->
        <div class="fourth">    <!--Negyedik tartalmi szekció-->
            <h3>Information you can access</h3>    <!--Alcím-->
            <ul>
                <li>Specific games titles</li>
                <li>Specific games alternative titles</li>
                <li>Specific games boxarts</li>
                <li>Specific games promotion picture</li>
                <li>Specific games descriptions</li>
                <li>Specific games ageratings</li>
                <li>Specific games developers and publishers</li>
                <li>Specific games screenshots</li>
                <li>Specific games genres</li>
                <li>Specific games controller support informations</li>
                <li>Specific games nominations and wins</li>
                <li>Specific games supported languages with voice and subtitle informations</li>
                <li>Specific games avaliable platforms</li>
                <li>Specific games crossplay information</li>
                <li>Specific games PC System Requirements</li>
                <li>Specific games crew informations</li>
                <li>Specific games cast informations</li>
                <li>Specific games reviews</li>
            </ul>
        </div>